---
title: "Dazzle"
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ '/main.css' | url }}" />
    <link
      rel="icon"
      href="https://th.bing.com/th/id/R.f4448a428afda09c17d60bb4c60821d7?rik=QTCqsEypgf7E%2bw&riu=http%3a%2f%2fwww.structel.com%2fwp-content%2fuploads%2f2020%2f05%2fD150.png&ehk=umwXafQbTPTrVpWTqQ3RFHVBxWEFzKBNmNMOMOndQHk%3d&risl=&pid=ImgRaw&r=0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      class="fixed w-full left-0 right-0 max-w-6xl mx-auto py-4 px-8 bg-black text-white z-10"
    >
      <div class="flex items-center justify-between">
        <div class="cursor-pointer">
          <h1 class="text-3xl font-semibold">Dazzle.</h1>
        </div>
        <div
          class="hidden md:flex justify-between gap-5 items-center cursor-pointer"
        >
          <ul
            class="flex items-center gap-5 text-[14px] font-bold text-[#ffffff73]"
          >
            <li class="hover:text-white">
              <a href="#heroimg" class="active" id="home_btn"> Home </a>
            </li>
            <li class="hover:text-white ">
              <a href="#about" id="about_btn"> About </a>
            </li>
            <li class="hover:text-white ">
              <a href="#pricing" id="pricing_btn"> Pricing </a>
            </li>
            <li class="hover:text-white ">
              <a href="#testimonial" id="testimonial_btn"> Testimonials </a>
            </li>
            <li class="hover:text-white ">
              <a href="#download" id="download_btn"> Download </a>
            </li>
          </ul>
          <a
            class="bg-green-600 rounded-md px-5 py-2 text-white font-bold text-[14px]"
            href="#"
            >Sign Up</a
          >
        </div>
        <div class="md:hidden cursor-pointer" id="hamburger">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="w-10 h-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </div>
        <div class="hidden md:hidden cursor-pointer" id="cancle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="w-10 h-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
      </div>
      <div
        class="flex flex-col justify-between gap-8 items-start pb-5 cursor-pointer md:hidden mt-14 transition-opacity duration-[1500ms]"
        id="hambar"
      >
        <ul
          class="flex flex-col items-start text-left border-t w-full border-gray-700 gap-8 text-[14px] font-bold text-gray-600"
        >
          <li class="hover:text-white border-b w-full border-gray-700 py-5">
            <a class="scroll-smooth remover" href="#heroimg"> Home </a>
          </li>
          <li class="hover:text-white border-b w-full border-gray-700 pb-5">
            <a class="smoothscroll remover" href="#about"> About </a>
          </li>
          <li class="hover:text-white border-b w-full border-gray-700 pb-5">
            <a class="remover" href="#pricing"> Pricing </a>
          </li>
          <li class="hover:text-white border-b w-full border-gray-700 pb-5">
            <a href="#testimonial"> Testimonials </a>
          </li>
          <li class="hover:text-white border-b w-full border-gray-700 pb-5">
            <a class="remover" href="#download"> Download </a>
          </li>
        </ul>
        <a
          class="bg-green-600 rounded-md px-5 py-2 text-white font-bold text-[14px] my-5 remover mb-5"
          href="#"
          >Sign Up</a
        >
      </div>
    </header>
    {{ content | safe }}

    <footer class="bg-[#171717] py-20 px-10 text-left">
      <div class="max-w-6xl mx-auto grid md:grid-cols-2 lg:grid-cols-3 gap-10">
        <div class="space-y-5 text-center md:text-left">
          <h1 class="text-white font-bold text-2xl">Dazzle.</h1>
          <p class="text-[#ffffff40] text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo,
            lacinia eget consectetur sed, convallis at tellus
          </p>
          <ul class="flex items-center justify-center md:justify-start gap-4">
            <li class="cursor-pointer">
              <a href="#">
                <img
                  src="https://th.bing.com/th/id/R.7c6676a2408cb8f2bf2710bfa6c6f436?rik=zTPclcp%2bFgZlqA&riu=http%3a%2f%2fwww.bionicsscientific.com%2fimages%2ffacebook.png&ehk=PfZPb1MpV%2b%2b9vH7dQKM3bQeSg7yLyzWPIndGuY%2bEx4k%3d&risl=&pid=ImgRaw&r=0"
                  width="20px"
                  alt="facebook.png"
                />
              </a>
            </li>
            <li class="cursor-pointer">
              <a href="#">
                <img
                  src="https://africa.multicitychallenge.org/images/twitter-logo-white.png"
                  width="30px"
                  alt="twitter.png"
                />
              </a>
            </li>
            <li class="cursor-pointer">
              <a href="#">
                <img
                  src="https://th.bing.com/th/id/R.ce696ac7ed0a96ef661e9b3d46efb51d?rik=tsBkTWivWYuFtA&riu=http%3a%2f%2fmeetthebeasts.com%2fimages%2finstagram-logo.png&ehk=aCkTxr0vpSVh2bK%2fskygbq01%2fhIx3KWzbNzjAVrSa9c%3d&risl=&pid=ImgRaw&r=0"
                  width="20px"
                  alt="instagram.png"
                />
              </a>
            </li>
            <li class="cursor-pointer">
              <a href="#">
                <img
                  src="https://th.bing.com/th/id/R.3cfbc995df96e1ace93e0d23e5884b3e?rik=7N4nANscprreig&riu=http%3a%2f%2fclipart-library.com%2fimages%2fdc4LABqni.png&ehk=wMo4WyijaHWTJt1nMQKvD06j9%2fjkDwXAO%2btufnjfRwU%3d&risl=&pid=ImgRaw&r=0"
                  width="20px"
                  alt="youtube.png"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="grid grid-cols-2 gap-20">
          <div>
            <h1 class="text-white font-bold text-md">Contact</h1>
            <div
              class="w-20 border-[0.5px] border-gray-700 my-5 m-0 lg:my-5"
            ></div>
            <p class="text-[#ffffff40] text-sm pb-10">
              1600 Amphitheatre Parkway Mountain View, CA 94043 US
            </p>
            <p class="text-[#ffffff40] text-sm">
              someone@dazzlesite.com Phone: (+63) 555 1212 Fax: (+63) 555 0100
            </p>
          </div>

          <div class="flex flex-col">
            <h1 class="text-white font-bold text-md">Site Links</h1>
            <div
              class="w-20 border-[0.5px] border-gray-700 space-y-10 my-5 m-0 lg:my-5"
            ></div>
            <a class="text-[#ffffff40] text-sm hover:text-white cursor-pointer">
              Home
            </a>
            <a class="text-[#ffffff40] text-sm hover:text-white cursor-pointer">
              About Us
            </a>
            <a class="text-[#ffffff40] text-sm hover:text-white cursor-pointer">
              Blog
            </a>
            <a class="text-[#ffffff40] text-sm hover:text-white cursor-pointer">
              FAQ
            </a>
            <a class="text-[#ffffff40] text-sm hover:text-white cursor-pointer">
              Terms
            </a>
            <a class="text-[#ffffff40] text-sm hover:text-white cursor-pointer">
              Privacy Policy
            </a>
          </div>
        </div>
        <div>
          <h1 class="text-white font-bold text-md">Our Newsletter</h1>
          <div
            class="w-20 border-[0.5px] border-gray-700 my-5 m-0 lg:my-5"
          ></div>
          <p class="text-[#ffffff40] leading-normal pb-10 text-sm">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <div class="flex justify-center items-center lg:justify-start">
            <div class="px-4 py-2 rounded-s-md bg-[#0f0f0f]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>
            </div>
            <input
              type="email"
              placeholder="Email Address"
              class="bg-[#0f0f0f] py-[0.3rem]"
            />
            <a
              href="https://demos.onepagelove.com/html/dazzle/?EMAIL=&subscribe=Send#"
            >
              <button
                type="submit"
                class="text-sm font-bold bg-[#39b54a] text-white px-4 py-2 rounded-e-md"
              >
                send
              </button>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script>
    <script>
      var hamburger = document.getElementById("hamburger")
      var cancle = document.getElementById("cancle")
      var hambar = document.getElementById("hambar")
      hambar.classList.add("hidden")
      hamburger.addEventListener("click", function () {
        hambar.classList.toggle("hidden")
        cancle.classList.remove("hidden")
        hamburger.classList.add("hidden")
      })

      var remover = document.getElementsByClassName("remover")
      for (var i = 0; i < remover.length; i++) {
        remover[i].addEventListener("click", function () {
          hambar.classList.toggle("hidden")
          cancle.classList.add("hidden")
          hamburger.classList.remove("hidden")
        })
      }

      cancle.addEventListener("click", () => {
        hambar.classList.toggle("hidden")
        cancle.classList.add("hidden")
        hamburger.classList.remove("hidden")
      })
    </script>
  </body>
</html>
