---
title: "Oversees Holidays"
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/main.css' | url }}" />
    <link
      rel="icon"
      href="https://www.overseasholidays.in/wp-content/uploads/2020/10/cropped-Favicon-192x192.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Autour+One&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="py-4 bg-transparent absolute z-50 w-full">
      <div
        class="relative flex items-center justify-between px-4 lg:justify-around lg:px-0"
      >
        <img
          src="https://www.overseasholidays.in/wp-content/uploads/2020/10/footer_new_log.png"
          alt="wp-content"
          loading="lazy"
        />
        <div
          class="hidden lg:flex items-center gap-6 font-bold text-sm cursor-pointer"
        >
          <a href="https://www.overseasholidays.in/">Home</a>
          <a
            class="flex items-center gap-2 p-4 hover:border-2 hover:border-blue-900"
            id="domestic"
          >
            Domestic Package
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </a>
          <a
            href="http://overseasholidays.in/destinations/"
            class="p-4 hover:border-2 hover:border-blue-900"
            >Destinations</a
          >
        </div>
        <div
          class="absolute bg-white top-20 right-[50%] hidden"
          id="destination_container"
        >
          <ul class="cursor-pointer">
            <li
              class="border-b border-gray-400 text-[#303030] font-semibold px-2 py-2 hover:bg-blue-900 hover:text-white link"
            >
              <a href="https://www.overseasholidays.in/kashmir-tour-packages/"
                >Kashmir Tour Package</a
              >
            </li>
            <li
              class="border-b border-gray-400 text-[#303030] font-semibold px-2 py-2 hover:bg-blue-900 hover:text-white link"
            >
              <a href="https://overseasholidays.in/ladakh-tour-packages/"
                >Ladakh Tour Package</a
              >
            </li>
            <li
              class="border-b border-gray-400 text-[#303030] font-semibold px-2 py-2 hover:bg-blue-900 hover:text-white link"
            >
              <a href="https://www.overseasholidays.in/amarnath-yatra/"
                >AmarAnth Yatra Tour Package</a
              >
            </li>
            <li
              class="px-2 py-2 text-[#303030] font-semibold hover:bg-blue-900 hover:text-white link"
            >
              <a href="https://www.overseasholidays.in/mata-vaishno-devi/"
                >Mata Vaishno Devi Tour Package</a
              >
            </li>
          </ul>
        </div>
        <div class="text-sm hidden lg:flex items-center gap-5">
          <a
          
            class="flex items-center gap-2 bg-[#00266E] text-white p-2 rounded-full cursor-pointer hover:scale-105 transition-all duration-300 openModal"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z"
              />
            </svg>
            Talk to an Expert
          </a>
          <a
            href="tel:+919103022049"
            class="flex items-center gap-2 bg-[#FF6B00] text-[#00266E] p-2 rounded-full cursor-pointer hover:scale-105 transition-all duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="#00266E"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
              />
            </svg>

            Call us! +91-9103022049
          </a>
        </div>
        <div
          class="black p-2 ml-5 bg-orange-600 rounded-md lg:hidden"
          id="hamburger"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="w-6 h-6"
            id="ham"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="w-6 h-6 hidden"
            id="cancle"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
        <div
          class="hidden absolute text-left top-20 left-0 right-0 flex flex-col items-left gap-6 font-semibold text-lg cursor-pointer py-5 bg-white lg:hidden"
          id="hambar"
        >
          <a href="">Home</a>
          <a class="flex items-center gap-2" id="domestic_ham">
            Domestic Package
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </a>
          <div class="hidden" id="destination_container_ham">
            <ul class="cursor-pointer">
              <li
                class="border-b border-gray-400 text-[#303030] font-semibold px-2 py-2 hover:bg-blue-900 hover:text-white link"
              >
                <a href="https://www.overseasholidays.in/kashmir-tour-packages/"
                  >Kashmir Tour Package</a
                >
              </li>
              <li
                class="border-b border-gray-400 text-[#303030] font-semibold px-2 py-2 hover:bg-blue-900 hover:text-white link"
              >
                <a href="https://overseasholidays.in/ladakh-tour-packages/"
                  >Ladakh Tour Package</a
                >
              </li>
              <li
                class="border-b border-gray-400 text-[#303030] font-semibold px-2 py-2 hover:bg-blue-900 hover:text-white link"
              >
                <a href="https://www.overseasholidays.in/amarnath-yatra/"
                  >AmarAnth Yatra Tour Package</a
                >
              </li>
              <li
                class="px-2 py-2 text-[#303030] font-semibold hover:bg-blue-900 hover:text-white link"
              >
                <a href="https://www.overseasholidays.in/mata-vaishno-devi/"
                  >Mata Vaishno Devi Tour Package</a
                >
              </li>
            </ul>
          </div>
          <a href="">Destinations</a>
        </div>
      </div>
    </nav>

    {{ content | safe }}
    <footer
      style="
        background-image: linear-gradient(180deg, #00abe7 0%, #142679 100%);
      "
      class="text-center text-white"
    >
      <div class="py-10 space-y-2 border-b-4 border-red-700">
        <h1 class="text-2xl">Planning your next trip?</h1>
        <p class="pb-5">
          Talk to our experts and get detailed plan for your next trip.
        </p>
        <a
         
          class="py-2 px-8 border-2 border-white hover:border-gray-50 hover:text-gray-50 cursor-pointer openModal"
          >Talk To an Expert</a
        >
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 max-w-6xl mx-auto py-10 border-b border-gray-500 px-10 lg:px-0"
      >
        <div class="text-left space-y-4">
          <h1 class="font-semibold">About</h1>
          <ul class="text-sm space-y-2">
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/">Home</a>
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/about-us/">About Us</a>
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/contact-us/">Contact Us</a>
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/gallery/">Gallery</a>
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/shop/">Packages</a>
            </li>
          </ul>
        </div>
        <div class="text-left space-y-4">
          <h1 class="font-semibold">DOMESTIC PACKAGES</h1>
          <ul class="text-sm space-y-2">
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/ladakh-tour-packages/"
                >Ladakh</a
              >
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/landing-page/">Kashmir</a>
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/amarnath-yatra/">Amarnath</a>
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 019 14.437V9.564z"
                />
              </svg>
              <a href="https://overseasholidays.in/mata-vaishno-devi/"
                >Mata Vaishno Devi</a
              >
            </li>
          </ul>
        </div>
        <div class="text-left space-y-4">
          <h1 class="font-semibold">QUICK ASSISTANCE</h1>
          <ul class="text-sm space-y-2">
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-7 h-7"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                />
              </svg>

              Munawar Abad, Opp Azad Petrol Pump, Srinagar Jammu And Kashmir
              190001
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>

              <a href="mailto:overseasholidayskashmir@gmail.com">
                overseesholidaykashmir@gmail.com</a
              >
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
                />
              </svg>

              <a href="tel:+91 9103022049">+91 9103022049</a>
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
                />
              </svg>

              <a href="tel:+91 9622807480">+91 9622807480</a>
            </li>
            <li
              class="flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
                />
              </svg>

              <a href="tel:+91 9107192231">+91 9107192231</a>
            </li>
            <li
              class="group flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="white "
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4 group-hover:fill-orange-500"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                />
              </svg>

              <a href="tel:+91 194 2472265">+91 194 2472265</a>
            </li>
            <li
              class="group flex items-center gap-2 hover:text-orange-500 cursor-pointer"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="white"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4 group-hover:fill-orange-500"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                />
              </svg>

              <a href="tel:+91 194 2472265">+91 194 2472265</a>
            </li>
          </ul>
        </div>
        <div>
          <form
            action=""
            class="space-y-4 flex flex-col items-center justify-center pt-5 md:pt-0"
          >
            <input
              type="text"
              placeholder="Name"
              class="text-sm text-gray-800 font-semibold p-3 rounded-sm w-[80%] lg:w-auto"
            />
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder="Phone"
              class="text-sm text-gray-800 font-semibold p-3 rounded-sm w-[80%] lg:w-auto"
            />
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              class="text-sm text-gray-800 font-semibold p-3 rounded-sm w-[80%] lg:w-auto"
            />
            <input
              type="submit"
              value="submit"
              class="bg-[#014960] w-[78%] py-1 rounded-sm cursor-pointer hover:bg-red-700"
            />
          </form>
        </div>
      </div>

      <div class="py-10 space-y-2">
        <div
          class="flex flex-col md:flex-row justify-between items-center max-w-5xl mx-auto"
        >
          <img
            src="https://www.overseasholidays.in/wp-content/uploads/2020/10/cropped-Logo-1.png"
            alt="overseeslogo"
            loading="lazy"
            class="w-32 py-2"
          />
          <p class="text-sm text-gray-500 py-2">
            Copyright 2020 © All rights Reserved.
          </p>
          <div class="flex items-center justify-between gap-5 py-2">
            <a
              href="https://www.tripadvisor.in/Attraction_Review-g297623-d14903794-Reviews-Overseas_Holidays-Srinagar_Srinagar_District_Kashmir_Jammu_and_Kashmir.html"
            >
              <img
                src="https://findicons.com/files/icons/2779/simple_icons/256/tripadvisor.png"
                alt="tripadvisor"
                class="w-14"
                loading="lazy"
              />
            </a>
            <a href="https://www.facebook.com/overseasholidaysindia">
              <img
                src="https://webstockreview.net/images/white-facebook-icon-png-8.png"
                alt="facebook"
                class="w-8"
                loading="lazy"
              />
            </a>
            <a href="https://twitter.com/oshkashmir">
              <img
                src="https://www.pinclipart.com/picdir/big/578-5789236_logo-twitter-png-blanc-white-twitter-logo-transparent.png"
                alt="twitter"
                class="w-8"
                loading="lazy"
              />
            </a>
            <a href="https://www.youtube.com/channel/UC1659E9rnK2ZjshStlM5ymQ">
              <img
                src="https://icon-library.com/images/youtube-icon-white-transparent/youtube-icon-white-transparent-16.jpg"
                alt="youtube"
                class="w-8"
                loading="lazy"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div
      id="modal"
      class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
    >
      <div class="bg-white  px-2 shadow-lg w-[50%]">
        <!-- Modal content goes here -->
        <div
          class="flex justify-end items-center  cursor-pointer"
          id="closeModal"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="w-8 h-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 p-3">
          <div class="hidden lg:block space-y-5">
            <h1 class="text-blue-800 text-2xl">How it works?</h1>
            <div class="flex items-center gap-2">
              <img
                src="https://www.overseasholidays.in/wp-content/uploads/elementor/thumbs/1-p91t7ytxz6whmpbpssnqzpi5kjuz5eyssddxn8xuq0.png"
                alt="one"
              />
              <h2 class="text-sm">Tell us details of your holiday plan.</h2>
            </div>
            <div class="flex items-center gap-2">
              <img
                src="https://www.overseasholidays.in/wp-content/uploads/elementor/thumbs/2-p91tcgi6mp1t3msvkqjkwkpfqtq3xcsmqllg6ua4zs.png"
                alt="two"
              />
              <h2 class="text-sm">
                Get multiple quotes from expert agents. Compare & customize further.</h2>
            </div>
            <div class="flex items-center gap-2">
              <img
                src="https://www.overseasholidays.in/wp-content/uploads/elementor/thumbs/305-3059131_circled-3-c-icon-price-margin-icon-p91tfhjgpo4v2gxyw6s8m9cbop323jdpzi852czl1g.jpg"
                alt="three"
              />
              <h2 class="text-sm">Tell us details of your holiday plan.</h2>
            </div>
            <div
              class="flex items-center justify-between gap-2 border-b border-black"
            >
              <div class="m-auto text-center">
                <img
                  src="https://worldtraveltoucan.com/wp-content/uploads/2017/11/destination-icon.png"
                  alt="destination.png"
                  class="m-auto w-16 mb-4"
                />
                <h1 class="font-bold">50+</h1>
                <p class="text-sm">Destinations</p>
              </div>
              <div class="m-auto text-center">
                <img
                  src="https://th.bing.com/th/id/R.8ac6c6a544833692d9d7a51a4cba5718?rik=hwfKBihkAeHc7Q&riu=http%3a%2f%2fclipart-library.com%2fimg%2f1144156.png&ehk=XtMSAAgDzkN6SB0OuLMCyjx6k%2fT5npN%2bUbeAridMDls%3d&risl=&pid=ImgRaw&r=0"
                  alt="book.png"
                  class="m-auto w-16 mb-4"
                />
                <h1 class="font-bold">5000+</h1>
                <p class="text-sm">Satisfied guests</p>
              </div>
              <div class="m-auto text-center">
                <img
                  src="https://th.bing.com/th/id/R.86d9908ab3ea6b42f9dc28ec2ab2c5c6?rik=CmXSe3Z8cmfQ%2fQ&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fblue-check-mark-transparent-background%2fblue-check-mark-transparent-background-16.png&ehk=qqa3iNY4jT5vlU39aBukEcscK9RpNPOOwXFhzHIerFQ%3d&risl=&pid=ImgRaw&r=0"
                  alt="tick.png"
                  class="m-auto w-16 mb-4"
                />
                <h1 class="font-bold">Stringent</h1>
                <p class="text-sm">Good quality</p>
              </div>
            </div>
            <div class="text-center">
              <h1 class="font-bold text-2xl">Call us for Details</h1>
              <a href="tel:+91 9103022049" class="text-blue-500"
                >+91 9103022049</a
              >
              <br />
              <a
                href="mailto:overseasholidayskashmir@gmail.com"
                class="text-blue-500"
                >overseasholidayskashmir@gmail.com</a
              >
            </div>
          </div>
          <div class="pb-4">
            <h1 class="text-blue-800 text-2xl pb-0 lg:pb-2">Talk to an expert</h1>
            <div>
              <form
                action=""
                class="space-y-2 flex flex-col items-center justify-center pt-5 md:pt-0"
              >
                <input
                  type="text"
                  placeholder="Name"
                  class="text-sm text-gray-800 font-semibold p-3 rounded-sm w-[100%] border border-black"
                />
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="Phone"
                  class="text-sm text-gray-800 font-semibold p-3 rounded-sm w-[100%] border border-black"
                />
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  class="text-sm text-gray-800 font-semibold p-3 rounded-sm w-[100%] border border-black"
                />
                <input
                  type="submit"
                  value="Get Itenary"
                  class="bg-[#014960] w-[100%] py-1 text-white font-light rounded-sm cursor-pointer hover:bg-red-700"
                />
              </form>
            </div>
            <div>
              <h1 class="text-blue-800 text-2xl pb-2">Approved By</h1>
              <div class="grid grid-cols-3">
                <img
                  src="https://www.overseasholidays.in/wp-content/uploads/2021/06/boat.jpg"
                  alt="J&K Tourism"
                  class="m-auto w-14 mb-4"
                />
                <img
                  src="https://www.overseasholidays.in/wp-content/uploads/2021/06/commerce.jpg"
                  alt="Kashmir chamber"
                  class="m-auto w-14 mb-4"
                />
                <img
                  src="https://www.overseasholidays.in/wp-content/uploads/2021/06/taai.jpg"
                  alt="Taai"
                  class="m-auto w-14 mb-4"
                />
                <img
                  src="https://www.overseasholidays.in/wp-content/uploads/2021/06/tourism.jpg"
                  alt="Tourism"
                  class="m-auto w-14 mb-4"
                />
                <img
                  src="https://www.overseasholidays.in/wp-content/uploads/2021/06/WhatsApp-Image-2021-06-07-at-7.17.27-PM-150x150.jpeg"
                  alt="Iatte"
                  class="m-auto w-14 mb-4"
                />
                <img
                  src="https://www.overseasholidays.in/wp-content/uploads/2021/08/iata-logo-transp-150x127.png"
                  alt="Iata"
                  class="m-auto w-14 mb-4"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var openModalButton = document.getElementsByClassName("openModal");
  var closeModalButton = document.getElementById("closeModal");
  var modal = document.getElementById("modal");

  for (var i = 0; i < openModalButton.length; i++){
    openModalButton[i].addEventListener("click", () => {
      modal.classList.remove("hidden");
    })
  }
  

  closeModalButton.addEventListener("click", () => {
    modal.classList.add("hidden");
  });

  var hamburger = document.getElementById("hamburger");
  var hambar = document.getElementById("hambar");
  var ham = document.getElementById("ham");
  var cancle = document.getElementById("cancle");
  hamburger.addEventListener("click", () => {
    hambar.classList.toggle("hidden");
    ham.classList.toggle("hidden");
    cancle.classList.toggle("hidden");
  });
  var slider = new KeenSlider("#my-keen-slider", {
    loop: {
      min: -5,
      max: 5,
    },
  });

  var domestic = document.getElementById("domestic");
  var destination_container = document.getElementById("destination_container");

  domestic.addEventListener("mouseenter", () => {
    destination_container.classList.remove("hidden");
  });
  destination_container.addEventListener("mouseenter", () => {
    destination_container.classList.remove("hidden");
  });
  destination_container.addEventListener("mouseleave", () => {
    destination_container.classList.add("hidden");
  });
  domestic.addEventListener("mouseleave", () => {
    destination_container.classList.add("hidden");
  });

  var domestic_ham = document.getElementById("domestic_ham");
  var destination_container_ham = document.getElementById(
    "destination_container_ham"
  );
  domestic_ham.addEventListener("click", () => {
    destination_container_ham.classList.toggle("hidden");
  });
</script>
