---
title: "Rajasthan Holiday Specialist"
footer_data:
  - img: "https://rajasthanvacations.in/images/icon/Rich%20Culture%20and%20Heritage%20Icon.webp"
    title: "Rich Heritage and Culture"
  - img: "https://rajasthanvacations.in/images/icon/Splendid%20Forts%20and%20Palaces%20icon.webp"
    title: "Splendour of Palaces and Forts"
  - img: "https://rajasthanvacations.in/images/icon/Superb%20Hospitality%20and%20Warmth%20icon.webp"
    title: "Superb Hospitality and Warmth"
  - img: "https://rajasthanvacations.in/images/icon/Sand%20Dunes%20and%20Desert%20Adventure%20Icon.webp"
    title: "Sand Dunes and Desert Adventures"
  - img: "https://rajasthanvacations.in/images/icon/Wildlife%20Encouters%20icon.webp"
    title: "Wildlife Encounters"
  - img: "https://rajasthanvacations.in/images/icon/Street%20Food%20and%20Shopping%20Icon.webp"
    title: "Streets Food and Shopping"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/main.css' | url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="icon"
      href="https://rajasthanvacations.in/images/tp-favicon.ico"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css"
    />
  </head>
  <body>
    <header
      class="p-5 navbar fixed top-0 right-0 left-0 z-[1030] bg-[#f8f9fa!important] navbar-expand-lg navbar-light bg-light"
    >
      <nav class="flex justify-between items-center">
        <div class="flex justify-between items-center gap-10">
          <img
            src="https://rajasthanvacations.in/images/logo-tourepedia.webp"
            alt="logo.png"
            class="w-32 lg:w-44"
          />
          <ul
            class="hidden lg:flex justify-between items-center gap-5 text-red-600 font-bold"
          >
            <li class="cursor-pointer">
              <a href="#popular-rajasthan-tour-packages">Popular Tours</a>
            </li>
            <li id="theme_btn" class="cursor-pointer flex items-center gap-2">
              <a>Theme Tours</a>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-3 h-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
              
            </li>
            <li class="cursor-pointer">
              <a href="#reviews">Reviews</a>
            </li>
            <li class="cursor-pointer">
              <a href="#faq">FAQ's</a>
            </li>
          </ul>
        </div>
        <div class="hidden absolute top-16 left-[360px] bg-[#fff] py-2  rounded-sm border border-gray-400" id="theme_div">
          <ul class="text-gray-400 font-roza">
            <li class="hover:bg-gray-200 px-4 cursor-pointer active:bg-blue-500 link">
             <a href="#family-rajasthan-tour-packages">Family Rajasthan Tour Packages</a> </li>
            <li class="hover:bg-gray-200 px-4 cursor-pointer active:bg-blue-500 link">
              <a href="#honeymoon-rajasthan-tour-packages">Honeymoon Rajasthan Tour Packages</a> </li>
            <li class="hover:bg-gray-200 px-4 cursor-pointer active:bg-blue-500 link">
              <a href="#luxury-rajasthan-tour-packages"> Luxury Rajasthan Tour Packages</a> </li>
            <li class="hover:bg-gray-200 px-4 cursor-pointer active:bg-blue-500 link">
              <a href="#rajasthan-weekend-tour-packages">Rajasthan Weekend Tour Packages</a> </li>
          </ul>
        </div>
        <div class="flex items-center gap-1">
          <a href="tel:+918302059300">
          <div class="bg-[#06920b] w-6 h-6 lg:w-8 lg:h-8 rounded-full flex items-center justify-center" >
            <img
              src="https://www.dlf.pt/dfpng/maxpng/6-66817_whatsapp-png.png"
              alt="whatsappicon"
              class=" w-3 h-3 lg:w-4 lg:h-4 cursor-pointer"
              loading="lazy"
            />
          </div>
        </a>
          <div class="flex items-center justify-between gap-2">

            <div class="bg-[#6ebe53] w-6 h-6 lg:w-8 lg:h-8 rounded-full flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="white"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                class=" w-3 h-3 lg:w-4 lg:h-4 m-auto cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                />
              </svg>
            </div>
            <a href="tel:+91-8302059300" class="text-red-600 font-bold sm: text-sm lg:text-lg">
              +91-8302059300
            </a>
          </div>
        </div>
        <div class="block border border-gray-300 p-2 rounded-lg lg:hidden cursor-pointer" id="hamburger">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          
        </div>
      </nav>
      <div id="hambar" class="hidden block lg:hidden">
        <ul
            class="flex flex-col justify-between  gap-5 text-red-600 font-bold"
          >
            <li class="cursor-pointer">
              <a href="#popular-rajasthan-tour-packages">Popular Tours</a>
            </li>
            <li id="theme_btn2" class="cursor-pointer flex items-center gap-2">
              <a>Theme Tours</a>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="w-3 h-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
              
            </li>
            <div class="hidden bg-[#fff] py-2  rounded-sm border border-gray-400" id="theme_div2">
              <ul class="text-gray-400 font-roza">
                <li class="hover:bg-gray-200 px-4 cursor-pointer active:bg-blue-500 link">
                 <a href="#family-rajasthan-tour-packages">Family Rajasthan Tour Packages</a> </li>
                <li class="hover:bg-gray-200 px-4 cursor-pointer active:bg-blue-500 link">
                  <a href="#honeymoon-rajasthan-tour-packages">Honeymoon Rajasthan Tour Packages</a> </li>
                <li class="hover:bg-gray-200 px-4 cursor-pointer active:bg-blue-500 link">
                  <a href="#luxury-rajasthan-tour-packages"> Luxury Rajasthan Tour Packages</a> </li>
                <li class="hover:bg-gray-200 px-4 cursor-pointer active:bg-blue-500 link">
                  <a href="#rajasthan-weekend-tour-packages">Rajasthan Weekend Tour Packages</a> </li>
              </ul>
            </div>
            <li class="cursor-pointer">
              <a href="#reviews">Reviews</a>
            </li>
            <li class="cursor-pointer">
              <a href="#faq">FAQ's</a>
            </li>
          </ul>
        </div>
        
      </div>
    </header>
    {{ content | safe }}

    <footer class="text-center pt-5">
      <div class="mx-auto bg-[#f3fff6] pt-10">
        <h1
        class="text-[#2e3042] w-[80%] lg:w-[60%] m-auto text-3xl lg:text-[44px] font-Cormorant lg:leading-[52px]"
        >
          Explore the Royal Grandeur of Rajasthan with
          <span class="text-red-500">Tourepedia Holidays</span>
        </h1>
        <div class="max-w-6xl mx-auto flex flex-col lg:flex-row gap-10 items-center justify-between py-5">
          {% for data in footer_data%}
          <div class="flex flex-col  items-center justify-between">
            <img src="{{ data.img }}" alt="{{ data.title }}" />
            <h5 class="text-lg font-medium text-[#0c0c0c] font-roza">
              {{ data.title }}
            </h5>
          </div>
          {% endfor %}
        </div>
      </div>
      <div>
        <div
          class="m-auto flex flex-col items-center justify-center py-5 space-y-4"
        >
          <img
            src="https://rajasthanvacations.in/images/logo-tourepedia.webp"
            alt="rajasthantourlogo.png"
            class="w-44"
          />

          <h1 class="flex gap-3 text-sm items-center text-gray-500 font-roza">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="gray"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
              />
            </svg>
            C-9/7, Prem Plaza, Chitrakoot Marg, Vaishali Nagar, Jaipur - 302021
          </h1>
          <h1 class="flex gap-3 text-sm items-center text-gray-500 font-roza">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="gray"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="gray"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
              />
            </svg>

            Call Us <a href="tel:+91 9166021917"> +91 9166021917 </a> ||
            <a href="tel:+91 7062386860">+91 7062386860</a>
          </h1>
          <h1 class="flex gap-3 text-sm items-center text-gray-500 font-roza">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="gray"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
              />
            </svg>

            Mail Us<a href="mailto:rajasthan@tourepedia.com"
              >rajasthan@tourepedia.com</a
            >
          </h1>
          <h1 class="text-xs text-gray-500 font-roza">Follow Us</h1>
          <div class="flex items-center justify-center gap-4">
            <a href="https://www.facebook.com/tourepedia1" target="__blank">
            <div class="rounded-md bg-blue-700 p-2">
              <img
                src="https://clipground.com/images/white-facebook-logo-png-5.png"
                alt="facebook.png"
                class="w-4 h-4"
                loading="lazy"
              />
            </div>
          </a>
          <a href="https://instagram.com/tourepedia_holidays?igshid=NTc4MTIwNjQ2YQ==" target="__blank">
            <div class="rounded-md bg-pink-700 p-2">
              <img
                src="https://tighestimepieces.com/wp-content/uploads/2016/11/Instagram-icon-WHITE.png"
                alt="instagram.png"
                class="w-4 h-4"
                loading="lazy"
              />
            </div>
          </a>
          <a href="https://wa.me/9166021917?text=Hello%20Tourepedia%2C%20I%20want%20Rajasthan%20Tour%20Quotation" target="__blank">
            <div class="rounded-md bg-green-700 p-2">
              <img
                src="https://toppng.com/public/uploads/thumbnail/logo-whatsapp-branco-png-icone-whatsapp-png-branco-11562849301allxbzyi80.png"
                alt="whatsapp.png"
                class="w-4 h-4"
                loading="lazy"
              />
            </div>
          </a>
          </div>
        </div>
      </div>
      <div class="bg-[#353535] uppercase text-[#fff] py-5 font-roza">
        <p>© COPYRIGHT 2023, TOUREPEDIA.COM, ALL RIGHTS RESERVED.</p>

        <span
          ><a
            href="https://rajasthanvacations.in/privacy-policy"
            class="text-xs hover:underline-offset-1"
            >Privacy Policy</a
          >
        </span>
        <span class="px-3">|</span>
        <span
          ><a
            href="https://rajasthanvacations.in/term-conditions"
            class="text-xs"
            >T & C</a
          ></span
        >
      </div>
    </footer>
  </body>
</html>

<script>
  var theme_btn = document.getElementById("theme_btn");
  var theme_div = document.getElementById("theme_div");
  var links  = document.querySelectorAll(".link");
  for(var i = 0; i < links.length; i++){
    links[i].addEventListener("click", () => {
      theme_div.classList.add("hidden")
    })
  }
  theme_btn.addEventListener("click", () => {
    console.log('clicked');
    theme_div.classList.toggle("hidden")

  })
  var theme_btn2 = document.getElementById("theme_btn2");
  var theme_div2 = document.getElementById("theme_div2");
  var links  = document.querySelectorAll(".link");
  for(var i = 0; i < links.length; i++){
    links[i].addEventListener("click", () => {
      theme_div.classList.add("hidden")
    })
  }
  theme_btn2.addEventListener("click", () => {
    console.log('clicked');
    theme_div2.classList.toggle("hidden")
  })
  var hamburger = document.getElementById("hamburger");
  var hambar = document.getElementById("hambar");
  hamburger.addEventListener("click", () => {
    console.log("clicked");
    hambar.classList.toggle("hidden");
  })
</script>
